:root {
    --swiper-theme-color: #FFF !important;
    --default-width:100%;
}
body {
 font-family: "Montserrat", sans-serif;
}
h1,h2,h3 {
 font-family: "Montserrat", sans-serif;
 font-weight: 1000;
}
body, html {height: 100%}
#home .lpc-jumbo {
  line-height: 1.2
}
.float-left {
 float: left;
}
.float-right {
 float: right;
}
.lpc-content{
 width:var(--default-width);
}
.lpc-container{
 padding:0;
}
.bgimg, .bgimg2, .bgimg6{
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.bgimg {
  min-height: 100%;
  background-image: url("../images/hk-background.jpg");
}
.bgimg2 {
 background-image: url("../images/austin-tower-background.jpg");
 box-shadow: inset 0px 80px 40px -6px rgb(255 255 255 / 1), inset 0px -80px 40px -6px rgb(255 255 255 / 1);
 }
.bgimg2 img{
 object-fit: cover;
 transform: scale(1.0);
 width: 100%;
 max-height: 350px;
}
.bgimg2 .lpc-content div.content-holder{
 width:100%;
 margin-top:30px;
 float:left;
 background:#FFF1EA;
 padding:30px 35px 60px;
 border-radius: 20px;
}
.bgimg3 {
  background: center top url("../images/product-services-background2.jpg");
  background-size: ;
 box-shadow: inset 0px 80px 40px -6px rgb(255 255 255 / 1);
}
.bgimg4 {
  background: #F1F0F0;
}
.bgimg5 {
  background-image: linear-gradient(to right, #FBBC99, #FBBC99, #EE7C3C, #EE7C3C);
}
.bgimg6 {
  min-height: 500px;
  background-image: url("../images/business-partners-background.jpg");
}
.bgimg6 img{
 width:100%
}
.bgimg7 {
  background: #373D52;
}
.bgimg7 p{
 width: var(--default-width);
 margin:0 auto;
 padding: 5px;
 text-align:left;
}
.bgimg7 .lpc-content{
 border-bottom:1px solid #000;
 height:80px;
}
.bgimg7 .lpc-content .contact-item:nth-child(4){
 width:275px;
}
.bgimg7 .lpc-content .contact-item:nth-child(2){
 width:150px;
}
.bgimg7 .lpc-content .contact-item:nth-child(3){
 width:190px;
}
.bgimg7 .lpc-content div{
 float:left;
 margin-left:15px;
}
.bgimg7 .lpc-content .contact-item div{
 text-align:left;
 font-size:15px;
 margin-top:5px;
}
.bgimg7 .lpc-content .contact-item div.value{
 font-size:10px;
 margin-top:0;
}
.bgimg7 img{
 width:280px;
 margin-right:35px;
}
.bgimg7 * {
 color:#FFF;
}
.bgimg7 i {
 border-radius:40px;
 background:#E77C40;
 width:50px;
 height:50px;
 line-height:50px;
}
.bgimg7 .contact-item, .bgimg7 .contact-item i{
 float:left;
}
a.lpc-button {
 padding: 15px 40px;
 float: left;
}
a.lpc-button, button.lpc-button, .lpc-lang-switch:hover {	
 display:block;
 background: #E77C40;
 border-radius: 40px;
 text-decoration: none;
 color:#FFF;
}
a.lpc-lang-switch {
 background: none;
 margin: 50px 0;
 padding: 8px 20px;
 text-decoration: none;
 float: right;
}
header {
 position: relative;
}
header div.lpc-content {
 position: absolute;
 min-height: 100%;
}
header h1.lpc-jumbo {
 margin-top: 30%;
 font-size:3em !important;
}
header h3 {
 margin: 50px 0;
}
header .logo {
 top: 50px;
 width: 50%;
 position: absolute;
}
.lpc-card {
 width: 33%;
 float:left;
 box-shadow: none;
 font-size: 20px;
}
.lpc-card div.number{
  font-size: 40px;
  font-weight:bold;
}
.lpc-card2 {
 position: relative;
 width: 31%;
 padding: 2%;
 margin: 40px 1% 0;
 background: #F4F4F4;
 float:left;
 border-radius: 20px;
 height: 250px;
}
.lpc-card2 img{
 position: absolute;
 top: -36px;
 margin-left: -36px;
 transform: scale(0.8);
}
.lpc-card3 {
 position: relative;
 width: 95%;
 padding: 2%;
 margin: 40px 1% 0;
 background: #FFF;
 float:left;
 border-radius: 20px; 
 box-shadow: 20px 20px 0 #E77C40;
}
.lpc-card4 {
 position: relative;
 width: 100%;
 padding: 30px 2%;
 margin: 40px 1% 0;
 background: #FFF;
 float:left;
 border-radius: 20px;
 height: 250px;
}
.lpc-card4 .text-content {
 float:left;
 width:90%;
}
.lpc-card4 img {
 float:left;
 width:300px;
 margin:0 20px 0 0;
 border-radius:10px;
 display:none;
}
.lpc-card4:nth-child(1) img {
 margin:0 0 0 20px;
}
.lpc-card5 {
 position: relative;
 width: 100%;
 padding: 20px;
 background: #FFF;
 float:left;
 height:auto;
}
.lpc-card5:nth-child(1) {
  background:#FBBC99;
}
.lpc-card5:nth-child(2) {
  background:#FCA472;
}
.lpc-card5:nth-child(3) {
  background:#FA8A4B;
}
.lpc-card5:nth-child(4) {
  background:#EE7C3C;
}
.lpc-card5 img {
 position:relative;
 width:50%;
 margin:0 auto;
 display:block;
}
.contact-us div.lpc-content div {
 color:#252B42;
 width: 70%;
}
.contact-us .lpc-button {
 margin-top:-15px;
}


#reply .input-box {
 width:49%;
 position: relative;
 margin-left:1%;
 float:left;
}
#reply .select-box,#reply .input-box2 {
 width:100%;
}
#reply .select-box label{
 position:relative !important;
 pointer-events:all !important;
}
#reply .select-box *{
 text-align:initial;
 width:auto;
}
#reply .select-box div{
 width:30%;
 float: left;
}
#reply div.input-box input {
  width: 100%;
  padding: 10px 0 2px;
  font-size: 16px;
  font-weight: bold;
  color: #666;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #CCC;
  outline: none;
  background: transparent;
}
#reply div.input-box input[type=radio] {
  width: 20px;
}
#reply div.input-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #CCC;
  transition: .5s;
  pointer-events: none;
}
#reply div.input-box input:focus ~ label,
#reply div.input-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #252B42;
  font-size: 12px;
  font-weight:bold;
}
div.contact-intro {
 width:38%;
 height:500px;
 float:left;
 background:#252B42 bottom right url(../images/contact-background.png) no-repeat;
 padding:30px;
 border-radius: 10px;
 color:#FFF;
 text-align:initial;
 font-family: "Inter", sans-serif;
}
div.contact-intro div.contact-item{
 width:100%;
 float:left;
 margin:10px 0;
 line-height:
}
div.contact-intro div.contact-item:first-of-type{
 margin-top:60px;
}
div.contact-intro div.contact-item i{
 float:left;
}
div.contact-intro div.contact-item div{
 width:80%;
 margin-left: 15px;
 float:left;
}
div.contact-form {
 width:60%;
 margin-left:2%;
 float:left;
}



.swiper {
width: 100%;
}
.swiper-slide {
background-position: center;
background-size: cover;
width: 330px;
height: 260px;
}
.swiper-slide img {
display: block;
width: 100%;
}
.swiper-slide-text{
position:absolute; bottom:10px; left:10px; color:#FFF; font-weight:bold;
}
.swiper2 {
width: 100%;
overflow:hidden;
}
.swiper2 .swiper-slide {
background-position: center;
background-size: cover;
width: 640px;
height: 480px;
}